[submodule "XamlX"]
	path = external/XamlX
	url = https://github.com/kekekeks/XamlX.git
[submodule "Avalonia.DBus"]
	path = external/Avalonia.DBus
	url = https://github.com/AvaloniaUI/Avalonia.DBus.git
[submodule "Avalonia.Controls.DataGrid"]
	path = external/Avalonia.Controls.DataGrid
	url = https://github.com/deryaza/Avalonia.Controls.DataGrid.git
[submodule "external/ReactiveUI.Avalonia"]
	path = external/ReactiveUI.Avalonia
	url = https://github.com/deryaza/ReactiveUI.Avalonia.git
